/*----------------Logo---------------*/

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--retreat {
  display: inline-block;
  margin-top: 0%;
  margin-bottom: 20px;

  & {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 100%;
      text-align: center;
    }
  }
}

.logo--start {
  color: #000000;
}

.logo--end {
  color: var(--primary-white-color);
}
